<h1>Portfolio</h1>

<%= link_to "Create a new Portfolio", new_portvolio_path %>

<% @portfolio_items.each do |portfolio_item| %>
  <p><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></p>
  <em><%= portfolio_item.subtitle %></em>
  <p><%= portfolio_item.body %></p>
  <%= image_tag portfolio_item.thumb_image if portfolio_item.thumb_image %>
<% end %>