<%= form_with(model: blog, local: true) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <% blog.errors.full_messages.each do |error| %>
        <%= alert_generator error %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :title, id: :blog_title, class: 'form-control', placeholder: 'Title' %>
  </div>

  <div class="form-group">
    <%= form.text_area :body, id: :blog_body, rows: 10, class: 'form-control', placeholder: 'Content' %>
  </div>

  <div class="form-group">
    <%= form.label :topic_id %>
<!--    you can access any attribute once you have Topic.all-->
    <%= form.collection_select(:topic_id, Topic.all, :id, :title,
                                {
                                   selected: blog.topic.id,
                                   include_blank: true
                                },
                                class: 'form-control'
                               )
    %>
  </div>

  <div class="form-group">
    <%= form.radio_button :status, 'draft' %>
    <%= form.label 'Draft' %>

    <%= form.radio_button :status, 'published' %>
    <%= form.label 'Published' %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
